---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import avatarImage from "../assets/transparent_64x64.png";
---

<nav
  class="sticky top-0 z-10 flex justify-center backdrop-blur-lg duration-300 backdrop-brightness-75"
>
  <div class="w-[72rem] px-5 py-4 duration-300">
    <div class="grid grid-cols-2">
      <div class="col-start-1 col-end-2">
        <div class="flex flex-row items-center gap-4">
          <a href="/" }>
            <div class="basis-1/8">
              <Image
                src={avatarImage}
                alt="Wolf Yuan avatar"
                width="36"
                height="36"
                class="h-9 w-9 object-fill"
                loading="eager"
              />
              <p class="sr-only">
              Click to go back to the homepage
              </p>
            </div>
          </a>
          <a
            href="/"
            data-astro-prefetch
          >
            <div
              class="basis-1/8 text-lg font-bold transition-opacity duration-300"
            >
              Wolf Yuan
            </div>
            <p class="sr-only">
              Click to go back to the homepage
            </p>
          </a>
        </div>
      </div>
      <div class="col-start-2 col-end-3">
        <div class="text-md flex h-10 items-center justify-end gap-6">
          <div class="basis-1/10">
            <a
              href="https://wolf-yuan.dev"
              class="text-gray-300 duration-300 hover:text-gray-50"
            >
              <div class="flex items-center justify-between md:gap-2">
                <Icon name="material-symbols:home-rounded" />
                <p class="sr-only md:not-sr-only">Homepage</p>
              </div>
            </a>
          </div>
          <div class="basis-1/10">
            <a
              href="https://w.wolf-yuan.dev/gitlab"
              target="_blank"
              class="text-gray-300 duration-300 hover:text-gray-50"
            >
              <div class="flex items-center justify-between md:gap-2">
                <Icon name="simple-icons:gitlab" />
                <p class="sr-only md:not-sr-only">GitLab</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  document.addEventListener("astro:page-load", () => {
    let navContainer = document.getElementsByClassName("js:nav-container")[0];
    let navPaddingArea = document.getElementsByClassName("js:nav-padding")[0];
    let navTitleElement = document.getElementsByClassName("js:nav-title")[0];
    let currentState = false;

    let handelScroll = (state: boolean) => {
      if (state) {
        navContainer.classList.add("backdrop-brightness-75");

        navPaddingArea.classList.add("py-4");
        navPaddingArea.classList.remove("py-6");

        navTitleElement.classList.add("sm:opacity-100");
        navTitleElement.classList.remove("sm:opacity-0");
      } else {
        navContainer.classList.remove("backdrop-brightness-75");

        navPaddingArea.classList.add("py-6");
        navPaddingArea.classList.remove("py-4");

        navTitleElement.classList.add("sm:opacity-0");
        navTitleElement.classList.remove("sm:opacity-100");
      }
    };

    window.addEventListener("scroll", function () {
      if (window.scrollY > 52) {
        if (currentState) return;
        currentState = true;
        handelScroll(true);
      } else if (currentState) {
        currentState = false;
        handelScroll(false);
      }
    });
  });
</script>
